# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Build output
dist/
frontend/dist/
backend/dist/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
frontend/.env
backend/.env

# OS / IDE specific
.DS_Store
*.swp
*.swo
.vscode/
